@import url('https://fonts.googleapis.com/css?family=Roboto');

:root { 
    --main-color: black;
}

.header-logo {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}
header .logo-link {
    text-decoration: none;
}
header nav a {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
}
header nav a:hover {
    color: green;
    text-decoration: underline;
}